/*Profile ★ Maria*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --dark-bg: #0a0a0a;
    --darker-bg: #050505;
    --accent: #ffffff;
    --accent-glow: #8606e1b0;
    --text: #ffffff;
}
 
 body {
   margin: 0;
   padding-top: 60px;
   text-align: center;
   background-color: var(--darker-bg);
   color: var(--text);
   line-height: 1.6;
   overflow-x: hidden;
}

p {
   margin: 2rem;
   text-align: justify;
}

h1 {
   margin: 4rem;
   text-align: justify;
}

 .user-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--accent);
    box-shadow: 0 0 10px var(--accent-glow);

}

.user-profile p{
   text-align: center;
}
