/*Settings ★ Rafael*/
body {
    font-size: medium;
}

.header h1 {
    color: #726C6C;
    font-family: inherit;
}

.header-icon {
    margin-top: 3%;
}


/*--Botão de tema*/
.tema-icon {
    font-size: 250%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;

    .tema {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        
    }

}

.botoes {
    display: flex;
    justify-content: left;
    margin-left: 0px;
}

/*Botão de controle e reprodução*/
.downloadIcon {
    font-size: 250%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;

    .download {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        
    }

}

.downloadDiv {
    display: flex;
    justify-content: left;
    margin-left: 0px;
}

/*TEMA CLARO*/

body {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;

    #theme-toggle {
        background-color: #dcdcdc;
        border: none;
    }

    /*Mudar cor de Divs*/
    .header {
        position: fixed;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 10%;
        background-color: #dcdcdc;
    }

    .botoes {
        margin-top: 90px;
        margin-left: 0;
        background-color: #dcdcdc;
    }

    .downloadDiv {
        margin-top: 20px;
        margin-left: 0;
        background-color: #dcdcdc;
    
        .downloadIcon i {
        color: #000;
    }
    }

    
}

/*TEMA ESCURO*/
body.dark-mode {
    background-color: #000000;
    color: #fff;

    #theme-toggle {
        background-color: #151515;
        color: white;
    }

    /*Mudar cor de divs*/
    .header {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 10%;
        background-color: #151515;
    }

    .botoes {
        margin-top: 90px;
        background-color: #151515;
    }

    .downloadDiv {
        margin-top: 20px;
        margin-left: 0;
        background-color: #151515;

    .downloadIcon {
        color: white;
    }
    }
}

.container {
    text-align: center;
    padding: 20px;
}