/*Library ★ Flávio*/

* {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

main {
    flex-grow: 1;
}

main h1 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 40px;
}

/* Lista de Playlists */
.playlist-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.playlist-item {
    display: flex;
    align-items: center;
    gap: 0px;
    background-color: #151515;
    position: relative;
    width: 100%;
}

.playlist-capa {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.capa-topo {
    background-color: #151515;
    width: 100%;
    height: 250px;
}

.gambiarra {
    height: 100px;
}

.playlist-detalhes {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #151515;
}

.playlist-nome {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    background-color: #151515;
}

.playlist-autor {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.6rem;
    color: #ffffff;
    background-color: #151515;
}

.icon {
    background-color: #151515;
    align-items: center;
    justify-content: flex-end;
}

.seta {
    background-color: #151515;
}

/* Rodapé / Barra de Reprodução */
footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 10px;
}

.tocando-agora {
    background-color: #293134;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.album-capa {
    width: 55px;
    height: 55px;
    border-radius: 50px;
}

.nome-musica {
    font-size: 1rem;
    font-weight: 600;
    color:#B64FEE;
    background-color: #293134;
}

.musica-tocando {
    font-size: 0.8rem;
    color: #8213BF;
    background-color: #293134;
}

.song-info {
    background-color: #293134;
}

.playback {
    background-color: #293134;
    display: inline;
    justify-content: right;
    align-items: center;
}
